dash
pandas
numpy
plotly
gunicorn
scipy
statsmodels
PyPortfolioOpt
yfinance
hmmlearn
ruptures
seaborn
matplotlib
networkx
pandas_market_calendars
quantstats
scikit-learn
python-louvain
fastparquet
pyarrow
